@font-face {
    font-family: "ZhuZiAYuanJWD";
    src: url("ZhuZiAYuanJWD.eot"); /* IE9 */
    src: url("ZhuZiAYuanJWD.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("ZhuZiAYuanJWD.woff") format("woff"), /* chrome、firefox */
    url("ZhuZiAYuanJWD.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("ZhuZiAYuanJWD.svg#ZhuZiAYuanJWD") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


